/* card */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  background-color: #121212;
  color: white;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}